<%-include("./layouts/head.ejs") %>

    <body>
        <%-include("./layouts/nav.ejs") %>
        <br>
        <h1>Something went wrong !</h1>
        <h5>Try Sometimes later We are continuous working !</h5>
            <%-include("./layouts/end.ejs") %>
    </body>
</html>