<%-include("./layouts/head.ejs") %>

    <body>
        <%-include("./layouts/nav.ejs",{loggedIn:loggedIn,csrfToken:csrfToken}) %>
        
            <%-include("./layouts/end.ejs") %>
    </body>
</html>